.content {
  z-index: 1;
}

.product {
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}

.space {
  --size: 2px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: white;
  box-shadow: var(--space-layer);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.75;
  z-index: 1;
}

.radial {
  background: radial-gradient(closest-side, #3f87a6, #ebf8e1, var(--alt-text));
}

.space {
  animation: move var(--duration) linear infinite;
}

@keyframes move {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-370dvh);
  }
}

/* @media (min-width: 500px) and (max-width: 638px) {
  .codetext {
    margin-top: -150px;
  }
} */
